body {
    margin: 0;
    font-family: sans-serif;
    background-color: #222;
}

/*CENTRADO DE BUTTONS*/

.wrapper {
    display:flex; 
    flex-direction: column;
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
}

/*--- BUTTON 1 ---*/

.button1{
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
} 

.button1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg, 
        red,blue, deeppink, blue, red, blue, deeppink, blue
    );
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0%{
        background-position: 0 0;
    }

    50%{
        background-position: 400% 0;
    }

    100%{
        background-position: 0 0;
    }
}



/*---BUTTOM 2---*/

.btn {
    padding: 17px 70px;
    background-color: transparent;
    color: #fff;
    border-radius: 6px;
    font-size: 1.2rem;
    letter-spacing: 3px;
    position: relative;
    cursor: pointer;
}


/*---  NEON BUTTOM  ---*/

.button-container:has(.btn-2) {
    filter: drop-shadow(0px 0px 20px #48e)
    drop-shadow(0px 0px 4px #48e);
}

.btn-2{
    border: 1px solid #fff3;
    color: #fff3;
}

.btn-2:hover{
    animation: parpadear 1s infinite alternate backwards;
}


/*--- opcional ---*/
/* before es como super poner una capa que no afecta el 
contenido el contenido principal */


.btn-2::before {
    content:'';
    background-color: #48e;
    display: block;
    height: 1px;
    width: 70%;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    top: -26px;
    animation: parpadear-linea 1s infinite alternate backwards;
    transition: top .6s, opacity .6s;
}

.btn-2:hover::before {
    opacity: 1;
    top: -6px;
}


@keyframes parpadear {
    0%{
       color: #fff3;
       border: 1px solid #fff3;
       text-shadow: none;
       box-shadow: none;
    }
    25%{
        border-color: #48e;
        box-shadow: 0px 0px 6px #48e3, 0px 0px 6px #48e3;
    }
    30%{
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: 0px;
        box-shadow: 0px;
     }
     35%{
         color: rgba(111, 168, 255);
         text-shadow: 0px 0px 9px #48ee, 0px 0px 3px rgba(159, 197, 255, 0.454);
     }
     46%{
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
     }
     60%{
         border-color: #48e;
         box-shadow: 0px 0px 6px #48e3, 0px 0px 6px #48e3;
     }
     72%{
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
     }
     100%{
         color: rgba(111, 168, 255);
         text-shadow: 0px 0px 9px #48ee, 0px 0px 3px rgba(159, 197, 255, 0.454);
     }
}

@keyframes parpadear-linea {
    0%{
        border-color: #48e;
        box-shadow: 0px 0px 6px #48e3, 0px 0px 16px #48e3;
    }
    25%{
        background-color: none;
        box-shadow: none;
    }
    30%{
        border-color: #48e;
        box-shadow: 0px 0px 6px #48e3, 0px 0px 16px #48e3;
    }
     35%{
        background-color: none;
        box-shadow: none;
     }
     46%{
        border-color: #48e;
        box-shadow: 0px 0px 6px #48e3, 0px 0px 16px #48e3;
     }
     60%{
        background-color: none;
        box-shadow: none;
     }
     72%{
        background-color: none;
        box-shadow: 0px 0px 6px #48e3, 0px 0px 16px #48e3;
     }
     100%{
        background-color: none;
        box-shadow: none;
     }
}